In [ ]:
import pandas as pd

import requests as r
import time
import datetime

data_dict = {
    "ds": ["1172969203"
],
    "y": [40]
}
data = pd.DataFrame.from_dict(data_dict)
json_data = '{"columns":["ds","y"],"index":[0,1],"data":[["2020-06-02T00:00:00.000Z",0],["2020-06-03T00:00:00.000Z",0]]}'


#son_data= data.to_json(orient='split')

headers = {'content-type':'application/json'}

url = "http://localhost:5001/invocations"

resp = r.post(url, data = json_data, headers=headers) 
resp

In [ ]:
resp.content

In [24]:
print(datetime.datetime.utcfromtimestamp(int("1172969203")))

2007-03-04 00:46:43

In [35]:
sending_data.loc[:,'pH'] = sending_data.loc[:, 'pH'].astype(str)

In [38]:
sending_data.select_dtypes(include=['int64', 'float64']).columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'sulphates', 'alcohol'],
      dtype='object')

In [41]:
sending_data.select_dtypes(include=['object'])

     pH
0  3.51
1   3.2
2  3.26
3  3.16
4  3.51
5  3.51
6   3.3
7  3.39
8  3.36
9  3.35